/* .modal-enter {
	opacity: 0;
	transform: scale(0.8);
  }
  
  .modal-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
  }
  
  .modal-exit {
	opacity: 1;
	transform: scale(1);
  }
  
  .modal-exit-active {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 300ms, transform 300ms;
  }
   */

   .modal-enter {
	opacity: 0;
	transform: scale(0.8);
  }
  
  .modal-enter-active {
	opacity: 1;
	transform: scale(1);
	transition: opacity 300ms, transform 300ms;
  }
  
  .modal-exit {
	opacity: 1;
	transform: scale(1);
  }
  
  .modal-exit-active {
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 300ms, transform 300ms;
  }
  
  .modal-exit-done {
	display: none;
  }
  